<a href="https://colab.research.google.com/github/edgardbg/Ola-Mundo/blob/main/Curso_B%C3%A1sico_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Passo a Passo de Solução do Desafio**

In [25]:
# Lógica de Programação

# Passo 0 - Entender o desafioque você quer resolver

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os
import pandas as pd

lista_arquivo = os.listdir('/content/drive/MyDrive/Colab Notebooks/Hashtag Programação/Curso Básico Python/Vendas')
tabela_total = pd.DataFrame()

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  # se tem "Vendas"no nome do arquivo, então...
  if 'vendas' in arquivo.lower():
    # importar arquivos
    tabela = pd.read_csv(f"/content/drive/MyDrive/Colab Notebooks/Hashtag Programação/Curso Básico Python/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)

# Passo 3 - Tratar / Compilar as bases de dados
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,13,HL4379,Televisão,1,Daniel,Monteiro,5/23/2018,Goiás,2500,NaN
1,19,HL9962,Android,4,Elaine,Santos,7/5/2018,Goiás,3400,NaN
2,45,HL1918,iPhone,5,Lenon,Fernandes,3/31/2018,Goiás,5300,NaN
3,50,HL7348,SmartWatch,1,Vivianne,Rodrigues,8/11/2018,Goiás,1400,NaN
4,97,HL7348,SmartWatch,2,Pedro,Rodrigues,7/26/2018,Goiás,1400,NaN
...,...,...,...,...,...,...,...,...,...,...
714,9859,HL2714,Tablet,1,Júlio,Fraga,12/25/2018,Curitiba,1600,NaN
715,9876,HL4379,Televisão,5,Bruno,Mota,4/30/2018,Curitiba,2500,NaN
716,9918,HL1148,Câmera,2,Lucas,Reis,12/27/2018,Curitiba,2100,NaN
717,9944,HL1918,iPhone,5,Raphael,Kurtz,7/16/2018,Curitiba,5300,NaN
718,9998,HL7348,SmartWatch,1,Vinícius,Antunes,12/10/2018,Curitiba,1400,NaN

In [29]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby("Produto").sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [39]:
# Passo 5 - Calcular o produto que mais faturou (em faturamento)
tabela_total['Faturamento'] = tabela_total['Preco Unitario'] * tabela_total['Quantidade Vendida']
tabela_faturamento = tabela_faturamento.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [46]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) - criar um gráfico/dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']].sort_values(by='Faturamento', ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

In [48]:
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()